*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    background:linear-gradient(rgba(10, 58, 192, 0.6),rgba(221, 15, 204, 0.7));
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    height:100vh;
    width:auto;
    justify-content: center;
    align-items: center;
   
}
.tabs{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    border-style: none;
    border-color: beige;
    color:white;
    border-radius:15px;
    height:400px;
    width:400px;

}
.heading{
    text-align:center;
    font-size: 50px;
    font-family: Tahoma;
}
.others{
    padding-top:40px;
    display: flex;
    padding-left:100px ;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 30px;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 25px;
}
.buttoni{
    text-align:center;
}
.buttoni1{
    height:40px;
    width:70px;
    background:transparent ;
    border-radius: 7px;
    color:white;
    font-size: 20px;
}
.formi{
    height:200px;
    align-items: center;
    width:150px;   
}
.user{
    height:45px;
    padding-bottom: 35px;
}
.pass{
    height:45px;
    padding-bottom: 35px;
}
.use{
    border-radius: 5px;
    height:20px;
}
.pw{
    border-radius:5px;
    height:20px;
}
.jumlog{
    
    text-decoration: none;
    color:white;
}
.jumlog:hover{
    height:40px;
    width:70px;
    background-color: antiquewhite;
    color:black;
    transition-duration: 0.3s;
}
.buttoni1:hover{
    background-color: antiquewhite;
    color:black;
    transition-duration: 0.3s;
}